body{
    margin: 0px;
    padding: 0%;
}
.nav{
    height: 60px;
    background-color: black;
    display: flex;
    
}
.nava{
    height: 50px;
    width: 130px;
    background-color: black;
    display: flex;
    align-items: center;

}
.nav-left{
    height: 30px;
    width: 97px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
    margin-bottom: 15px;


}
.in{
    height: 14px;
    width: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 6px ;
    margin-left: 1px;
    margin-bottom: 15px;
    
}
.arrow{
    display: flex;
    margin-top: 45px;
    margin-left: -70px;
}
.deliever{
    height: 60px;
    width: 213px;
    border: transparent 2px white;
}
.deliever:hover{
    border: solid 2px white;
}
.du{
    display: block;
    height: 14px;
    width: 176px;
    margin-left: 100px;
    margin-top: 15px;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.719);
}
.dl{
    display: block;
    height: 20px;
    width: 213px;
    color: white;
    margin-left: 100px;
    font-size: 1rem;
}
.icon{
    margin-left: 86px;
    margin-top: -24px;

}